@model FornecedorModel
@{
    ViewData["Title"] = "Criar de Fornecedores";
}


<form style="border: 1px solid black; border-radius: 10px;" class="justify-content-center align-items-center" asp-controller="Fornecedor" asp-action="Criar" method="post">
   <div style="width: 600px;" class="container m-10">
        <div class="text-center">
            <h3>
                <small class="text-muted">Cadastro de fornecedor</small>
            </h3>
        </div>
     <div class="row mb-4 align-items-center">
            <div class="col-1 pe-0"><i class="bi bi-person-circle"></i></div>
            <div class="col-11 ps-0">
                <input type="text" asp-for="Name" class="form-control input-default" placeholder="Nome do fornecedor">
                @Html.ValidationMessageFor(x => x.Name)
            </div>
     </div>

        <div class="row mb-4 align-items-center">
            <div class="col-1 pe-0">
                <i class="bi bi-file-text"></i>
            </div>
            <div class="col-11 ps-0">
            <input type="text" asp-for="CNPJ" class="form-control input-default" placeholder="CNPJ do fornecedor">
         @Html.ValidationMessageFor(x => x.CNPJ)
         </div>
     </div>
        <div class="row mb-4 align-items-center">
            <div class="col-1 pe-0">
            <i class="bi bi-building"></i>
            </div>
            <div class="col-11 ps-0">
                <select type="text" asp-for="Especialidade" class="form-control input-default">
                    <option value="">Escolha a Especialidade</option>
                    <option value="Comércio">Comércio</option>
                    <option value="Serviço">Serviço</option>
                    <option value="Indústria">Indústria</option>
                </select>
            </div>
   
         @Html.ValidationMessageFor(x => x.Especialidade)
      </div>
      <div class="row mb-4">
        <div class="col-2"><button type="submit" class="btn btn-primary">Adicionar</button></div>
         <div class="col-10">
            <a class="btn btn-secondary" asp-controller="Fornecedor" asp-action="Index">Voltar</a>
         </div>
      </div>
      </div>
</form>